html {
  margin: 0;
  padding: 0;
  list-style-type: none;
}



.list-icon-container {
  width: 18px;
  height: 18px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid black;
}



button.invest {
  background-color: #6FCF97;
  font-size: 0.9rem;
  height: 2.3rem;
  width: 6rem;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  margin: 4px;
}

button.payment-method {
  background-color: #6FCF97;
  font-size: 0.9rem;
  height: 3.3rem;
  width: 7rem;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50px;
}
/*
header {
  width: 90%;
  margin: 2rem auto !important;
}

/* nav {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;

}
nav>div {
  display: grid;
  justify-content: center;
  line-height: 3rem;
  border: 1px solid #ebebeb;
  cursor: pointer;
}

nav>div>a {
  color:#8e8e8e;
  text-decoration: none;
} */

.tokens-container {
  display: grid;
  width: 90%;
  margin: 1rem auto !important;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  min-height: 26rem;
}

ul {
  padding: 0;
}

li.index-li {
  list-style-type: none;
  display: grid;
  /* grid-auto-flow: column; */
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid rgba(0,0,0,0);
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25); */
  box-shadow: 0px 8px 28px rgb(167 156 32 / 39%);

  border-radius: 19px;
  background-color: rgba(251,251,250,1);
}
li.index-li>p {

  min-width: 10rem;
  padding-left: 5px;
  color:rgba(123,113,23,1);
  cursor: pointer;
}

.left-list {
  /* background-color: rgba(251,251,250,1); */
}

.right-list {
  /* background-color: rgba(251,251,250,1); */
  /* margin-top: 5rem; */
}

.left-list-header {
  color: rgba(147,143,50,1);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Lato;
  font-weight: Regular;
  font-size: 2rem;
  text-align: center;
}

.svet-token-payment-methods {
  display: grid;
  width: 90%;
  margin: 1rem auto !important;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  min-height: 26rem;
  align-items: center;
  justify-items: center;
}

.svet-token-payment-form {
  display: grid;
  width: 90%;
  margin: 1rem auto !important;
  grid-template-columns: 1fr;
  /* grid-gap: 2rem;
  min-height: 26rem; */
  align-items: right;
  justify-items: right;
}
.svet-token-payment-form-input {
  display: grid;
  width: 90%;
  margin: 1rem 0 !important;
  grid-template-columns: 1fr;
  /* grid-gap: 2rem; */
  align-items: center;
  justify-items: right;
}
li>i {
  color:#8e8e8e;
}

.buttons_container {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  width: 70%;
  margin: 0 auto;
  height: 10rem;
  padding: 15px;
}

.token_info {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
}

.address_container {
  display: grid;
  justify-items: center;
}

@media screen and (max-width: 600px) {
  nav {
      display: grid;
      grid-auto-flow: row;
      grid-gap: 1rem;

  }
  .tokens-container {
      display: grid;
      width: 100%;
      margin: 1rem auto !important;
      grid-template-columns: 1fr;
      grid-gap: 2rem;
      min-height: 26rem;
  }
  li>p {

    min-width: 5rem;

  }
  .address_in_list {
    display: none;
  }
  .token_info {
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
  }
}
/*
.navbar {
  display: none !important;
}
*/
.left-list-item {
  cursor: pointer;
font-size: 2rem;
  /* border: 1px solid #dadada !important; */
}

.index-token-icons {
  display: grid;
  /* grid-auto-flow: column;
  height: 40px;
    justify-items: center; */
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    justify-items: center;
    padding: 10px;

}

.icon-item {
    display: grid;
    grid-auto-flow: column;
    font-size: 19px;
}

.index-token-name {
  font-size: 1.5rem;
    color: #754949;
    text-decoration: none;
    /* border: 1px dashed; */
    padding: 8px;
    border-radius: 11px;
    display: grid;
    grid-auto-flow: column;
}

.header-index {
  font-size: 4rem;
}

.price {
  font-size: 2rem;
}

.balance {
  font-size: 2rem;
}

.numbers {
  font-size:2rem;
  font-weight: 600;

}

.field {
  display: grid;
  justify-items: right;
}

.number_left {
  padding-left: 10px;

}
